---
layout: default
---
  
		
			<div class="col-lg-9">
			{% for post in paginator.posts %}
				<article class="card mb-4" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="card-header">
						
						<div class="card-meta">
							Posted on <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> in <a href="/category/{{ post.categories[0] | downcase }}/"/><strong>{{ post.categories[0] | camelcase}}</strong></a>
						</div>
						<a href="{{ post.url | prepend: site.url }}"> <h3 class="card-title">{{ post.title }} </h3></a>
						<a href="{{ post.url | prepend: site.url }}"><h4 class="card-subtitle">{{post.subtitle}}</h4></a>
					</header>
					<a href="{{ post.url | prepend: site.url }}"> <img class="card-img" src="{{post.image}}" alt="{{ post.title }}"/></a>
					
					<div class="card-body">
		              <p class="card-text">{{ post.description }}</p>
		              <p><a class="btn btn-orange" href="{{ post.url | prepend: site.url }}">Continue Reading </a> <i class="fa fa-comment"></i><span class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.url }}"> </span><p/>
		            </div>
	
				
				
				</article>
			{% endfor %}
				
				<nav>
					<ul class="pagination justify-content-center">
						{% if paginator.previous_page %}
						<li class="page-item">
						  <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Previous</a>
						</li>
						{% else %}
						<li class="page-item disabled">
						  <a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						{% endif %}
						{% for page in (1..paginator.total_pages) %}
						    {% if page == paginator.page %}
						    	<li class="page-item active">
						    		<span class="page-link">{{ page }}
						    			<span class="sr-only">(current)</span>
						    		</span>
						    	</li>
						    	<span class="webjeda"></span>
						    {% elsif page == 1 %}
						    	<li class="page-item"><a class="page-link" href="/">1</a></li>
						    {% else %}
						    	<li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
						    {% endif %}
					  	{% endfor %}
						
						
						{% if paginator.next_page %}
						<li class="page-item">
						  <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled">
						  <a class="page-link" href="#">Next</a>
						</li>
						{% endif %}
					</ul>
				</nav>

			</div>
	


