		
		<div class="col-12 col-sm-12 col-md-12 col-lg-3 ml-auto" >

          <aside class="sidebar">
            <div class="card">
              <div class="card-body p-2">
                <h4 class="card-title mb-3">About Me</h4>
                <p class="card-text">{{ site.hi }} </p>
                <div class="divider mt-3"></div>
              </div>
            </div><!-- /.card -->
     
            <div class="card">
              <div class="card-body p-2 pt-0">
                <h4 class="card-title mb-3">Tags</h4>
        				{% for tag in site.tags %}
        					<a href="/tag/{{ tag[0] | downcase }}/" class="btn btn-light btn-sm mb-1" >{{ tag[0] | capitalize }}</a>
        				{% endfor %}
                <!--
				      <div class="divider mt-5"></div> -->
              </div>
            </div>
            <!--
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Recent posts</h4>
           
                {% for post in site.posts %}
                <article itemscope itemtype="http://schema.org/BlogPosting">

                  <a href="{{ post.url | prepend: site.url }}" class="d-inline-block">
                    <h6>{{ post.title }} </h6>
                  </a>
                  <header style="color: #848484 !important;font-size:0.8rem">
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
                  </header>
                </article>
                {% if forloop.index == 3%}
                  {% break %}
                {% endif %}
                {% endfor %}
              </div>
            </div> /.card -->

          </aside>

        </div>
		
