		
		<div class="col-12 col-sm-12 col-md-12 col-lg-4 ml-auto" >

          <aside class="sidebar">
            <div class="card mb">
              <div class="card-body">
                <div class="logo col-md-3 p-0">
                  <a href="/">
                    <h1>
                      <img src="/img/logo3.png" alt="jeancarlocodogno" />
                    </h1>
                  </a>
                </div>
                <p class="card-text">{{ site.hi }} </p>
                <div class="divider mt-5"></div>
              </div>
            </div><!-- /.card -->
          </aside>

          <aside class="sidebar sidebar-sticky">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Tags</h4>
               
				{% assign max = 1 %}
				{% for tag in site.tags %}

					{% if max < tag[1].size %}
						{% assign max = tag[1].size %}
					{% endif %}

				{% endfor %}

				{% for tag in site.tags %}

					{% assign font = tag[1].size | divided_by: max %}

					{% assign font = font | times: 26 %}

					{% if font == 0 %}
						{% assign font = 14 %}
					{% endif %}


						
					<a href="/tag/{{ tag[0] | downcase }}/" class="btn btn-secondary btn-sm mb-1" style="font-size:{{ font }}px;">{{ tag[0] | capitalize }}</a>
						
				{% endfor %}
				      <div class="divider mt-5"></div>
              </div>
            </div><!-- /.card -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Recent posts</h4>
           
                {% for post in site.posts %}
                <article itemscope itemtype="http://schema.org/BlogPosting">

                  <a href="{{ post.url | prepend: site.url }}" class="d-inline-block">
                    <h6>{{ post.title }} </h6>
                  </a>
                  <header style="color: #848484 !important;font-size:0.8rem">
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
                  </header>
                </article>
                {% if forloop.index == 3%}
                  {% break %}
                {% endif %}
                {% endfor %}
              </div>
            </div><!-- /.card -->
          </aside>

        </div>
		
