<footer class="site-footer">
	<div class="container">
		<div class="second_footer has_first_footer row"><div class="col-md-12"><div class="second_footer_content_wrapper footer_credits"> &copy; <strong>{{site.title}}</strong> 2017 - {{site.description}}</div></div></div>
	</div>
</footer>

<script src="{{ "/scripts/search.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery-3.3.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>

<script>
		var isHidden = false;

		function expand_search(){
			if(isHidden==false){

				isHidden = true;
				$('.search_text').css("display", "block");
				$('.search_text').css("width", "150px");
				$('.search_text').focus();
				

			}else{
				
				window.location.replace("{{ "/search/?q=" | prepend: site.baseurl }}"+$('.search_text').val());
			}
		}

		function close_search(){
			if($('.search_text').val() == ""){
				$('.search_text').css("width", "0px");
				$('.search_text').css("display", "none");
				isHidden = false;
			}

		}


			$('.search_text').keydown(function( event ) {
			   if ( event.which == 13 ) {
			     expand_search();
			   }
			});
		
		
		


	</script>