<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.excerpt %}
		<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}">
	{% endif %}
	
	<link rel="stylesheet" href="/css/roboto_font.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/highlighting.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<meta name="google-site-verification" content="lpo_Y-UuW1BJaUyh7FtbWbFuQVILb2xz6F9XD0hPPzI" />
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/scripts/search.js"></script>
	<script id="dsq-count-scr" src="//jeancodogno.disqus.com/count.js" async></script>
	
</head>
