<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="100"
   viewBox="0 0 100 100"
   id="svg5307"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="icon-kaggle.svg">
  <defs
     id="defs5309" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="-187.85714"
     inkscape:cy="520"
     inkscape:document-units="px"
     inkscape:current-layer="g4575"
     showgrid="false"
     units="px"
     inkscape:window-width="1440"
     inkscape:window-height="837"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5312">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Camada 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-952.36216)">
    <g
       id="g4615"
       transform="matrix(2.8313845,0,0,2.9033461,151.42891,1167.5203)">
      <g
         id="g4575">
        <path
           inkscape:connector-curvature="0"
           id="path4149"
           d="m -35.820861,-74.106955 a 17.658648,17.221827 0 0 0 -17.661423,17.221511 17.658648,17.221827 0 0 0 17.661423,17.221506 17.658648,17.221827 0 0 0 17.656985,-17.221506 17.658648,17.221827 0 0 0 -17.656985,-17.221511 z m -6.866358,4.359807 2.893214,0.04005 0,15.039388 9.021809,-7.404147 1.85326,2.159915 -6.941926,5.670877 6.595266,7.675224 -2.31546,1.657719 -6.630805,-7.599677 -1.622146,1.311053 0,7.173028 -2.893192,-0.07554 0.04005,-25.647814 z"
           style="fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.80000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      </g>

    </g>
  </g>
</svg>