<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    
      {% include header.html %}
      <main class="main pt-4" role="main">

        <div class="container mt-4">
          
          <div class="logo col-md-3 p-0">
            <a href="/">
              <h1>
                <img src="/img/logo3.png" alt="jeancarlocodogno" />
              </h1>
            </a>
          </div>

          <div class="row mt-5">
            {% include dir.html %}
            {{ content }}
            
          </div>
        </div>
      </main>

      {% include footer.html %}
    </div>

  </body>

</html>