---
layout: full
---
<div class="col-lg-12">
<article class="card-header pt-0 px-0" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="card-header pt-0 px-0">
    {% if page.image %}
    <img class="card-img mb-3" src="{{ page.image }}" alt="{{ page.title }}"/>
    {% endif %}
    <div class="card-meta">
      Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> in <a href="/category/{{ post.categories[0] | downcase }}/"/><strong>{{ page.categories[0] | camelcase}}</strong></a>
     
      <a href="{{ page.url | prepend: site.url }}"><h2 class="card-title" itemprop="name headline">{{ page.title }} </h2></a>
      <a href="{{ page.url | prepend: site.url }}"><h3 class="card-subtitle">{{page.subtitle}}</h3></a>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </div>

  

 <ul class="share-buttons">
	 
	<li>
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-via="jeancodogno" data-lang="en">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			
	</li>
	<li>
		<!-- Inclua esta tag na seção head ou logo antes da tag de fechamento da seção body -->
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

		<!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
		<g:plusone size="tall" ></g:plusone>
	</li>
	<li class="fb-button">
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1041787195836631';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-share-button" 
			data-href="" card-header pt-0
			data-layout="button">
		  </div>
	</li>
	<li><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share"></script></li>
  </ul>
  </header>
  <div class="card-body pt-0 px-0" itemprop="articleBody">
    <p class="card-text">{{ content }}</p>
                
  	Tags:
  	{% for tag in page.tags %}
  		<a href="/tag/{{ tag | downcase }}/" class="btn btn-light btn-sm mb-1">{{ tag | camelcase }}</a>
  	{% endfor %}

 	</div> 
</article>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
     *  PLATFORM OR CMS.
     *  
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
     *  https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = PAGE_URL;  
        
        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = PAGE_IDENTIFIER; 
    };
    */
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        // IMPORTANT: Replace EXAMPLE with your forum shortname!
        s.src = 'https://jeancodogno.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the 
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.
    </a>
</noscript>
</div>